.fl.w-100
  .fl.w-50
    %h1 Meal Calendar
  .fl.w-50.tr
    %label{for: "calendar_url"} Calendar URL
    %input{value: schedules_url(token: current_user.auth_token), size: 60, name: "calendar_url"}


%table.meals-calendar
  -@planner.weeks.each do |week|
    %tr
      -week.days.each do |day|
        %td.meals-calendar-day
          .meal-form.pa1
            =react_component("MealForm",
              { availableRecipes: Recipe.all.map(&:to_json),
                scheduled_at: day,
                authenticity_token: form_authenticity_token })

          -day.meals.each do |meal|
            .pa2
              =meal.recipe_title
              =link_to "x", meal_path(meal), method: :delete

          .fl.w-100.date.pa1
            .fl.w-70.pa2.tr
              =day.strftime("%a")
            .fl.w-30.pa2.ba
              =day.strftime("%d")

.fl.w-100
  %table.meals-table{cellspacing: 0}
    %tr
      %th.tl.bb{colspan: 3}
        %h2 Scheduled meals

    - @meals.each do |meal|
      %tr
        %td
          = form_tag(meal_path(meal), method: :patch) do
            = select_tag :recipe_id,                                                       |
              options_from_collection_for_select(Recipe.all, :id, :title, meal.recipe.id), |
              {class: "recipe-chooser"}                                                    |
        %td
          =meal.scheduled_at.to_s(:friendly_date)
        %td
          =link_to "(x)", meal_path(meal), method: :delete

.fl.w-100.pa2
  = button_to "Schedule next week", schedules_path(       |
      start_date: Date.today.next_week.beginning_of_week, |
      end_date: Date.today.next_week.end_of_week          |
    ),                                                    |
    class: "f5 no-underline bg-white black bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box mr4"




:javascript
  $(function() {
    $(".recipe-chooser").change(function(event) {
      $(event.currentTarget).parent("form").submit();
    });
  });
