@import tachyons/tachyons.scss
.meals-table
  @extend .pv3
  @extend .pr3
  @extend .b--black-20

  td
    @extend .pv3
    @extend .pr3
    @extend .bb
    @extend .b--black-20

.planner-day
  @extend .ba
  @extend .b--black-20
  position: relative
  min-height: 10em
  width: 14%
  .date
    position: absolute
    bottom: 0
    text-align: center

.recipe-picker
  max-width: 100%

.show-recipe-picker
  @extend .f6
  @extend .link
  @extend .dim
  @extend .ph3
  @extend .pv2
  @extend .mb2
  @extend .dib
  @extend .white
  @extend .bg-black
  cursor: pointer

